<script type="text/javascript">

	function openLoginDialog(){
		jQuery("#inline_login_form_container #login_form_error_container").hide();
		jQuery("#inline_login_form_container").dialog("open");
	}

	function closeSearch(){
		search_canceled = true;
		jQuery("#main_header_search_results_container").removeClass('main_header_search_results_container_visible');
		jQuery("#main_header_search_results_spinner").removeClass('main_header_search_results_spinner_visible');
		jQuery("#main_header_search_results").removeClass('main_header_search_results_visible');
		jQuery("#main_header_search_input").removeClass('main_header_search_input_active');
	}

	function closeCart(){
		jQuery("#main_header_cart_view_container").removeClass('main_header_cart_view_container_visible');
		jQuery("#main_header_cart_view_spinner").removeClass('main_header_cart_view_spinner_visible');
		jQuery("#main_header_cart_view").removeClass('main_header_cart_view_visible');
		jQuery("#main_header_search_input").removeClass('main_header_search_input_active');
	}

	jQuery(document).ready(function(){

    	// replaces the checkboxes and radio buttons
    	replaceCheckables();

    	jQuery("select").selectBoxIt({ autoWidth: false, showEffect: "fadeIn", showEffectSpeed: "fast", hideEffect: "fadeOut", hideEffectSpeed: "fast" });

		jQuery(".top_tooltip").tooltip({
            position: { my: 'center bottom', at: 'center top-10', collision : 'none' },
            tooltipClass: 'top'
        });
		jQuery(".bottom_tooltip").tooltip({
            position: { my: 'center top', at: 'center bottom+10', collision : 'none' },
            tooltipClass: 'bottom'
        });
		jQuery(".right_tooltip").tooltip({
            position: { my: 'left center', at: 'right+10 center', collision : 'none' },
            tooltipClass: 'right'
        });
		jQuery(".left_tooltip").tooltip({
            position: { my: 'right center', at: 'left-10 center', collision : 'none' },
            tooltipClass: 'left'
        });

		jQuery.extend(jQuery.ui.dialog.prototype.options, {
			autoOpen: false,
		    modal: true,
	        open: function(){
	            jQuery('.ui-widget-overlay').hide().fadeIn();
	        },
            beforeClose: function() {
                jQuery('.ui-widget-overlay:first')
                .clone()
                .appendTo('body')
                .show()
                .fadeOut(function(){ 
                    jQuery(this).remove(); 
                });
	        }
		});
        
		jQuery( "#inline_login_form_container" ).dialog({
			modal: true,
			width: 450,
			show: {
		        effect: "drop",
		        direction: "up"
		      },
            hide: "fade",
            close: function() {
            }
		});

		jQuery(".login_link").on("click", function(){
			openLoginDialog();
		});

		var search_timeout = 0;
		var search_canceled = false;
		var search_text_length = jQuery("#main_header_search_input").val().length;
		jQuery("#main_header_search_input").on('keyup', function(e){
			closeCart();
			if (e.keyCode == 27) closeSearch();
			var new_search_text_length = jQuery("#main_header_search_input").val().length;
			if (search_text_length != new_search_text_length){
				search_text_length = new_search_text_length;
				jQuery("#main_header_search_input").addClass('main_header_search_input_active');
				clearTimeout(search_timeout);
				if (jQuery(this).val().length >= 2 ) {
					search_canceled = false;
					search_timeout = setTimeout(function() {
						// Do something after 0.5 seconds
						jQuery('#main_header').removeClass('home_top_main_header');
						jQuery("#main_header_search_results_container").addClass('main_header_search_results_container_visible');
						jQuery("#main_header_search_results").removeClass('main_header_search_results_visible');
						jQuery("#main_header_search_results_spinner").addClass('main_header_search_results_spinner_visible');
						jQuery.post("{{ path('ajax_search') }}", {text: jQuery("#main_header_search_input").val()}, function(response){
							if (!search_canceled) {
								jQuery("#main_header_search_results_spinner").removeClass('main_header_search_results_spinner_visible');
								jQuery("#main_header_search_results").html(response);
								jQuery("#main_header_search_results").addClass('main_header_search_results_visible');
							}
						});
					}, 1000);
				}
			}
		});

		jQuery("#main_header_search_results_close").on('click', function(){
			closeSearch();
		});
		
		jQuery("#main_header_cart_button").on('click', function(e){
			closeSearch();
			jQuery('#main_header').removeClass('home_top_main_header');
			jQuery("#main_header_cart_view_container").addClass('main_header_cart_view_container_visible');
			jQuery("#main_header_cart_view").removeClass('main_header_cart_view_visible');
			jQuery("#main_header_cart_view_spinner").addClass('main_header_cart_view_spinner_visible');
			jQuery.get("{{ path('view_cart') }}", function(response){
				jQuery("#main_header_cart_view_spinner").removeClass('main_header_cart_view_spinner_visible');
				jQuery("#main_header_cart_view").html(response);
				jQuery("#main_header_cart_view").addClass('main_header_cart_view_visible');
			});
		});
		
		jQuery("#main_header_cart_button, #main_header_cart_view_container").on('keyup', function(e){
			if (e.keyCode == 27) closeCart();
		});

		jQuery("#main_header_cart_view_close").on('click', function(){
			closeCart();
		});

		jQuery('.add_to_cart_form').on('submit', function(){
			var submit_button = jQuery(this).find('#add_to_cart_button'); 
			if (!submit_button.hasClass('add_to_cart_button_loading')){
				submit_button.addClass('add_to_cart_button_loading');
				jQuery.get(jQuery(this).attr('action'), jQuery(this).serialize(), function(response){
					jQuery('#main_header_cart_button_count').text(response).addClass('main_header_cart_button_count_visible');
					submit_button.removeClass('add_to_cart_button_loading');
				});
			}
			return false;
		});

	});

</script>

<header id="main_header">
	<div id="main_header_top_logo"><a href="{{ path('tabloz_main_homepage') }}" style="height: 100%; width: 100%; display: block;"></a></div>
	<nav id="main_header_nav" class="transition2">
		<a href="{{ path('tablos') }}">{{ 'آثـــــــــار' }}</a>
		<a href="{{ path('blog') }}">{{ 'بلاگ' }}</a>
	</nav>
	{% if (app.user) %}
		<div id="user_menu_container" class="transition2">
			<div id="user_button">
			<div id="user_thumbnail_container">
				<a href="{{ path('user_portfolio', { 'username': app.user.username }) }}">
					<img src="{{ media_asset( app.user.image, 'small' ) }}" id="user_thumbnail_img" alt="{{ app.user.username }}" title="{{ app.user.username }}" />
				</a>
			</div>		
	{# 		{{ app.user.getFirstName }}#}
	{# 		<span class="top_user_button_arrow"></span>#}
			
			</div>
			<div id="user_drop_down_list">
				<div class="main_header_user_fullname">{{ app.user.fullname }}</div>
				<nav>
					<ul>
						<li><a href="{{ path('sonata_user_profile_edit') }}">{{ 'تنظیمات' }}</a></li>
						<li><a href="{{ path('manage_credit') }}">{{ 'مدیریت مالی' }}</a></li>
						<li><a href="{{ path('manage_collections') }}">{{ 'مدیریت مجموعه ها' }}</a></li>
						<li><a href="{{ path('manage_works') }}">{{ 'مدیریت آثار' }}</a></li>
						<li><a href="{{ path('add_new_work') }}">{{ 'اثر جدید' }}</a></li>
	{# 					<li><a href="{{ path('user_statistics') }}">{{ 'آمار و گزارش ها' }}</a></li>#}
						<li><a href="{{ path('fos_user_security_logout') }}">{{ 'خروج' }}</a></li>
					</ul>
				</nav>
			</div>
		</div>
	{% else %}
		{% render url('tabloz_login_form') %}
		<div id="top_login_register" class="transition2"><a href="#" class="login_link">{{ 'ورود' }}</a> | <a href="{{ path('fos_user_registration_register') }}">{{ 'عضویت' }}</a></div>
	{% endif %}
	<div id="main_header_cart_button_container" class="transition2">
		{% set cart_items_count = cart_items_count() %}
		<div id="main_header_cart_button_count" class="{{ (cart_items_count > 0)?'main_header_cart_button_count_visible':'' }}">{{ cart_items_count }}</div>
		<div id="main_header_cart_button"></div>
	</div>
	<div id="main_header_search_container">
		<input id="main_header_search_input" type="text" placeholder="{{ 'جستجو در آثار، مجموعه ها، هنرمندان...' }}">
	</div>
</header>
<section id="main_header_search_results_container" class="transition2">
	<div id="main_header_search_results_close"></div>
	<span id="main_header_search_results_spinner"><img src="{{ asset('public/images/spinner24.gif') }}" style="vertical-align: middle; margin: 0 15px;" />{{ 'در حال جستجو...' }}</span>
	<div id="main_header_search_results"></div>
</section>
<section id="main_header_cart_view_container" class="transition2">
	<div id="main_header_cart_view_close"></div>
	<span id="main_header_cart_view_spinner"><img src="{{ asset('public/images/spinner24.gif') }}" style="vertical-align: middle; margin: 0 15px;" />{{ 'در حال بارگذاری...' }}</span>
	<div id="main_header_cart_view"></div>
</section>