
{% extends '::base.html.twig' %}

{% block title %}{{ 'tabloz.com | مدیریت آثار' }}{% endblock %}

{# {% block stylesheets %}#}
{# 	{{ parent() }}#}
{# 	{% stylesheets filter='cssrewrite' 'bundles/tablozuser/css/profile.css' %}#}
		
{# 	{% endstylesheets %}#}
{# {% endblock %}#}


{% block stylesheets %}
	{{ parent() }}
    {% stylesheets filter='cssrewrite' 
    				'bundles/tablozuser/css/profile.css' 
    				'bundles/tablozuser/css/manage_works.css' %}
    	<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}	

<script type="text/javascript">

	
	jQuery(document).ready(function(){
		
		jQuery(".tablo_box_private").on("click", function(){
			var tablo_id = jQuery(this).closest('.tablo_box').data('id');
			var tablo_private = jQuery(this).hasClass("tablo_box_private_off")?1:0;
			jQuery(this).toggleClass("tablo_box_private_off");
			
			jQuery.ajax({
			    type: 'POST',
			    data: { id: tablo_id, private: tablo_private },
			    url: "{{ path('toggle_tablo_private') }}",
			    success: function(){
			    },
			    error: function(){
			       jQuery(this).toggleClass("tablo_box_private_off");
			    }
			});
			
			return false;
		});


	});
</script>

<h1>{{ 'مدیریت آثار' }}</h1>
		
<section>
	{% for tablo in tablos %}
		{{ include('TablozUserBundle:Default:tablo_box.html.twig', {'tablo':tablo}) }}
	{% endfor %}
	
	{{ include('TablozUserBundle:Default:tablo_add_to_collection_dialog.html.twig') }}
	{{ include('TablozUserBundle:Default:tablo_delete_dialog.html.twig') }}
	
</section>
	


{% endblock %}