{# Contains Underscore templates for the file uploader. #}
{# As long as the data-* attributes stay on the appropriate elements #}
{# you can override the markup pretty extensively in a local version #}
{# of this file. #}

{# Include this file once in the page. You can instantiate many file uploaders. #}
{# Each one must receive a distinct uploadUrl option. You can also pass #}
{# an existingFiles option with a list of filenames that should appear in the #}
{# editor as having been previously uploaded. #}

{# "Why is this a Twig file?" Twig allows for a mix of comments not seen in the browser #}
{# and Underscore templates. It's easy to include in a Symfony template. #}

<script type="text/template" id="file-uploader-template">
	<div class="uploader droppable_uploader">
		<div class="controls" data-dropzone="1" >  
			<div class="drag_and_drop_text">{{ 'فایل عکس را اینجا بیاندازید' }}<br>{{ 'یا برای انتخاب فایل کلیک کنید' }}</div>  
			<div style="width: 100%; height: 100%; position: absolute; z-index: 1;" onclick="jQuery('#user_file_uploader_input').click();"></div>  
		</div>
		<div class="spinner" data-spinner="1" style="display: none; position: absolute; top: 45%; width: 100%; text-align: center;">
			<span>{{ 'در حال بارگذاری...' }} ( <span class="uploader_progress_percentage"></span>  ) </span>
			<div class="uploader_progressbar_container"><div class="uploader_progressbar" style="width: 0;"><div class="uploader_progressbar_overlay"></div></div></div>
		</div>
		<div class="thumbnails" data-thumbnails="1" style="height: 100%; display: inline-block;">
		{# We populate the list via an API call #}
		</div>
		<div style="overflow: hidden; width: 0; height: 0;">
			{# No name attribute please, that would cause it to submit with a regular form #}
			<input id="user_file_uploader_input" type="file" data-files="1" accept="image/*" class="uploader_input"/>
		</div>
	</div>
</script>

{# parameters to underscore template: name, thumbnail_url, original_url #}
<script type="text/template" id="file-uploader-file-template">
    <div data-name="<%- name %>" class="thumbnail" style="height: 100%; text-align: center; position: relative;">
        {# Some things can be thumbnailed, some things not #}
        {# ACHTUNG: regular expression literals fail in Underscore templates #}
        <% if (url.match(new RegExp('(\.gif|\.jpg|\.jpeg|\.png)$', 'i'))) { %>
            <img src="<%- thumbnail_url %>" class="thumbnail_image croppable_image" />
        <% } %>
        <div class="upload_thumbnail_caption">
            <!-- <a rel="tooltip" title="Download Original" class="download thumbnail-action btn=" target="download" href="<%- url %>"><i class="icon-download"></i></a> -->
            {# ACHTUNG: data-action="delete" matters to javascript #}
            {# <a rel="tooltip" title="Delete" data-action="delete" class="delete thumbnail-action btn" href="#delete"><i class="ui-icon ui-icon-closethick"></i></a> #}
        </div>
		<div class="spinner" style="display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(20, 20, 20, 0.9);">
			<div style="position: relative; height: 100%;">
				<div style="position: absolute; top: 45%; width: 100%; text-align: center;">
					<span>{{ 'در حال حذف...' }}</span>
					<div class="uploader_delete_progressbar"><div class="uploader_progressbar_overlay"></div></div>
				</div>
			</div>
		</div>
		<div class="save_spinner" style="display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(20, 20, 20, 0.9);">
			<div style="position: relative; height: 100%;">
				<div style="position: absolute; top: 45%; width: 100%; text-align: center;">
					<span>{{ 'در حال ذخیره کردن...' }}</span>
					<div class="uploader_progressbar"><div class="uploader_progressbar_overlay"></div></div>
				</div>
			</div>
		</div>
		<form action="{{ url('crop_user_image') }}" method="post" class="crop_form transition2" style="margin: 10px 0; text-align: right;">
			<input type="hidden" name="x1" value="" />
			<input type="hidden" name="y1" value="" />
			<input type="hidden" name="x2" value="" />
			<input type="hidden" name="y2" value="" />
			<input type="submit" value="{{ 'ذخیره' }}" onclick="saveUserImage(); return false;"/>
			<input type="button" value="{{ 'حذف' }}" data-action="delete" class="grey_button transition2" />
		</form>
    </div>
</script>
