{% extends '::base.html.twig' %}

{% block title %}{{ 'tabloz.com | بلاگ' }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite' 
       				'bundles/factoryblog/css/*' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	
	<div class="clearfix">
		<h1>{{ 'بلاگ' }}</h1>
		<aside id="blog_main_content" style="margin-right: 0;">
			<div id="blog_posts_wrapper">
			
			{% for post in posts %}
				<div class="blog_post_item_wrapper transition2">
					<aside class="blog_post_date_aside">
						<span class="blog_post_day">{{ post.createdAt | jalali_day }}</span>
						<span class="blog_post_moth_year">{{ post.createdAt | jalali_month_formatted }}<br>{{ post.createdAt | jalali_year }}</span>
					</aside>
					<aside class="blog_post_list_item_container">
						<img class="blog_post_image" alt="{{ post.title }}" src="{{ media_asset(post.image, 'big') }}" title="{{ post.title }}">
						<h3 class="blog_post_list_title"><a href="{{ path('blog_post', {'id': post.id}) }}">{{ post.title }}</a></h3>
						<div>
{# 							<span class="blog_post_date">{{ post.createdAt | jalali_date_formatted }}</span>#}
							<span class="blog_post_view_count" title="{{ 'تعداد بازدیدها' }}">{{ post.viewCount ~ ' ' ~ 'بازدید' }}</span>
							<span class="blog_post_comment_count" title="{{ 'تعداد نظرات' }}">{{ post.commentCount ~ ' ' ~ 'نظر' }}</span>
						</div>
						<p>{{ post.abstract | nl2br }}</p>
						<div class="blog_post_read_more"><a href="{{ path('blog_post', {'id': post.id}) }}">{{ 'ادامه مطلب...' }}</a></div>
					</aside>
				</div>
			{% endfor %}
				
			</div>
		
		</aside>
		<aside id="blog_sidebar">
			{{ render(controller('FactoryBlogBundle:Default:popularBlogPostsSidebar')) }}
		</aside>
		
	</div>

{% endblock %}